
 {% block body %}
	{# <div class="login-container py-4" style="background-image: url('{{ asset('uploads/nav.png') }}')"> #}
  			<div class="container mt-3 mb-3" style="max-width: 900px; background-color:#89bff8; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px;">

			<div class="row  justify-content-center">
 {{ form_start(form) }}



	<h2 class="text-center mb-4">{{ button_label|default('Créer une Formation') }}</h2>

	{# Actif checkbox shown as switch #}
	 <div class="form-check form-switch mb-4">
		{{ form_widget(form.actifFormation, {'attr': {'class': 'form-check-input'}}) }}
		{{ form_label(form.actifFormation, 'Formation Active', {'label_attr': {'class': 'form-check-label'}}) }}
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la formation'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.numero, {'attr': {'class': 'form-control', 'placeholder': 'Numéro'}}) }}
		</div>
	</div>

	<div class="mb-3">
		{{ form_label(form.formateurs, 'Formateurs', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.formateurs, {
            'attr': {
                'class': 'form-select',
                'multiple': true,
                'size': 5
            }
        }) }}
		{{ form_errors(form.formateurs) }}
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.dateFin, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	 <div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.dateDebutValidation, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.dateFinValidation, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div> 

	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.niveau, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.titreProfessionnel, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>


	<div class="row">

		<div class="col-md-6 mb-3">
			{{ form_row(form.nombreHeures, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 mb-3">
			{{ form_row(form.NombreStagiaires, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.groupeRattachement, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="text-center">
  <div class="d-flex justify-content-between mt-0 mb-0">
		<button class="btn btn-success px-5 py-2 mt-4">
			{{ button_label|default('Enregistrer') }}
		</button>
    	<a href="{{ path('app_formation_index') }}" class="btn btn-primary px-4 mt-4 ">	← Retour à la liste</a>
	</div>
</div>




{{ form_end(form) }}  
</div>
</div>


{% endblock %}

	{#}
	    <div class="row">
	        <div class="col-4 mb-3">
	            {{ form_label(form.formateurs) }}
	            {{ form_widget(form.formateurs, {'attr': {'class': 'form-control'}}) }}
	        </div>
	    </div>
	
#}