{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1 class="text-center mt-4 mb-4">Formation</h1>
<div class="card">
<div class="card-header bg-primary text-white text-center">
<strong>Détails de formation</strong>
</div>
<div class="card-body p-0">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped mb-0">

{#partie tête de tableau#}
  <thead class="table-light">
		<tr>
    <th>Id</th>
     <th>Actif_formation</th>
      <th>Nom</th>
       <th>Numero</th>
         <th>Validation</th>
          <th>Titre_Professionnel</th>
           <th>Niveau</th>
           <th>Nb_Stagiaires</th>
           <th>Groupe_rattachement</th>
           <th>Date_debut</th>
           <th>NumbreHeures</th>
    </tr>
    </thead>
    <tbody>
			<tr>
		<td>{{ formation.id }}</td>
	  <td>{{ formation.actifFormation ? 'Yes' : 'No' }}</td>
		<td>{{ formation.nom }}</td>
		<td>{{ formation.numero }}</td>
		<td>{{ formation.dateDebutValidation ? formation.dateDebutValidation|date('d/m/Y') : '' }}</td>
    <td>{{ formation.titreProfessionnel }}</td>
		<td>{{ formation.niveau }}</td>
		<td>{{ formation.nombreStagiaires }}</td>
	<td>{{ formation.groupeRattachement }}</td>
	<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
		<td>{{ formation.nombreHeures }}</td>
			</tr>
		</tbody>
	</table>
 </div>




{#buttons du bas#}
<div class="d-flex justify-content-between p-3">
	<a href="{{ path('app_formation_index') }}" class="btn btn-outline-success px-3 py-2 mt-4">← Retour à la liste</a>

	<a href="{{ path('app_formation_edit', {'id': formation.id}) }}" class="btn btn-outline-primary  px-3 py-2 mt-4">✎ Modifier</a>

	{{ include('admin/formation/_delete_form.html.twig') }}
  </div>
  </div>
  </div>
  </div>
{% endblock %}
