{% extends 'base.html.twig' %}

{% block title %}Interruption index
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1 class="text-center mb-4 mt-5">Interruption index</h1>
<div class="card">
<div class="card-header bg-primary text-white text-center">
<strong>Périodes Interruption</strong>

</div>
<div class="card-body p-0">
<div class="table-responsive">



	<table class="table table-bordered table-hover table-striped mb-0">
		<thead class="table-light">
			<tr>
				<th>Id</th>
				<th>Date_debut_int</th>
				<th>Date_fin_int</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for interruption in interruptions %}
				<tr>
					<td>{{ interruption.id }}</td>
					<td>{{ interruption.dateDebut ? interruption.dateDebut|date('Y-m-d') : '' }}</td>
					<td>{{ interruption.dateFin ? interruption.dateFin|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('app_interruption_show', {'id': interruption.id}) }}">show</a>
						<a href="{{ path('app_interruption_edit', {'id': interruption.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" class="text-center">Auccun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
</div>
</div>
<div class="text-center mt-4">
	<a href="{{ path('app_interruption_new') }}" class="btn btn-success">Créer une nouvelle interruption</a>
  </div>
  </div>
{% endblock %}
